body {

	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	
	padding:0;
    margin:0;
}

.container {

	width:80%;
	margin:auto;
	overflow:hidden;
	
}

h1 {

	font-size: 2em;
	text-align:center;

}


}
.chuckSays {

	
}

form {

  

}
button {
	
	background-color:transparent;
	border-radius:22px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	columns: #000000;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	
	text-decoration:none;
	
}
button:hover {
	background-color:transparent;
}
button:active {
	position:relative;
	top:1px;
}

select {

	
}

.modal-overlay {

	background-color: rgba(0,0,0,0.5);
	display: none;
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index: 9999;
	overflow: hidden;
	width:100vw;
	height:100vh;

}
.modal-overlay.open {

	display: flex;
}

.modal-content {
	background-color: #fff;
	margin:auto;
	width: 640px;
	height: auto;
	padding: 16px;
	position: relative;
	border-radius: 4px;
	z-index: 10000;
}

.modal-content p {

	font-size:2rem;
}

.modal-content .modal-close {

	position:absolute;
	top: 16px;
	right: 16px;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background-color: #000;
	color:#fff;
	cursor: pointer;


}


.wrapper--image {
	display:flex;
	margin:auto;
	width: 100%;
	max-width: 800px;
	
}

.wrapper--image img {

	height:auto;
	width: 100%;
}
@media(max-width: 768px){


}